body{
    font-family: serif;
}
.container{
    margin:30px 30px;
    background-color: bisque;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    height:1850px;
    border-bottom: 120px rgb(182, 79, 79) solid;
    border-top: 2px rgb(182, 79, 79) solid;
    border-left: 2px rgb(182, 79, 79) solid;
    border-right: 2px rgb(182, 79, 79) solid;
    border-radius: 10px;
}
img{
    border-top: 1px rgb(167, 46, 46) solid;
    border-radius: 20px;
}
h1{
    font-size:60px;
    text-align:center;
    font-family:serif; 
    font-style:italic;
    text-decoration:underline ;
    color:rgb(148, 36, 36);
}

h2{
    font-size: 40px;
    text-align: center;
    color: rgb(70, 8, 8);
    font-style:italic;
}

.register {
    float:left;
    width:1100px;
    height:1250px;
    background-color:rgba(185, 64, 64, 0.459);
    padding: 10px 10px;
    color: rgb(70, 8, 8);;
    
}
label{
    
    font-size:20px;
}
input{
    margin-bottom: 10px;
}
input[type="text"]{
    width:200px;
    height:30px;
    border-radius: 5px;
}
textarea{
    display:block;
   width:350px;
    height:60px;
    border-radius: 10px;
}
input[type="email"]{
    width:200px;
    height:30px;
    border-radius: 5px;
}
input[type="date"]{
    width:200px;
    height:30px;
    border-radius: 5px;
}
legend{
    font-size:20px ;
}
.myform{
    float:left;
    width:800px;
}
.info{
    float:right;
    width:300px;
    height:1065px;
    background-color: rgb(182, 79, 79);
    padding:10px;
    box-sizing: border-box;
}
.button{
    background-color: rgb(158, 64, 60);
    color: white;
    width:110px;
    height:40px;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    font-size: 20px;
    position: relative;
    left:260px;
}

h3{
    font-size: 35px;
    color: rgb(61, 10, 10);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0px;
}
ol{
    font-size: 20px;
    color: rgb(252, 248, 246);
}
ul{
    font-size: 20px;
    color: rgb(252, 248, 246);
    
}
.contact{
    position: relative;
    top: 80px;
    font-size: 20px;
}
footer{
    font-size: 18px;
    margin-left:35px ;
    margin-top: -25px;
}
.footer-link {
    font-size: 18px;
  }
.footer-link:hover { color: #f03333; }






